<!DOCTYPE html>
<html > 
<head>
</head>
<body>
<div>
    @RenderBody()
</div>
    <a asp-route-culture="fr">Francais</a><br>
    <a asp-route-culture="fr-CA">Francais Canada</a><br>
    <a asp-route-culture="en">English</a><br>
    <a asp-route-culture="en-CA">English Canada</a><br>
    <a asp-controller="Orders" asp-action="List">Simple url to orders</a><br>
    <a asp-controller="Home" asp-action="Index">Simple url to home</a><br>
    <a asp-controller="Products" asp-action="Detail" asp-route-id="prod123">Simple url to product details</a><br>
    <a asp-controller="Products" asp-action="index" asp-route-id="12">Simple url to product listing page</a><br>
</body>
</html>
